# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = Aravind Virat 
#	email = aravind.mallapureddy@juspay.in
[user]
	name = Aravind virat
	email = aravind.mallapureddy@juspay.in
